<div id="header" class="mb20">
    <div class="container" id="header-inner">
        <div class="row">
            <div class="span4">
                <a href="/"><h1>西象教育</h1></a>
                <p class="tip">中小学辅导提分专家</p>
            </div>
            <div class="span8" id="contact">
                <p><i class="icon16-contact white left micon16"></i>:400-689-0661&nbsp;&nbsp;&nbsp;021-68900157</p>
               <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2451842140&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2451842140:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
            </div>
            <div id="nav">
                <a href="/prospectus">招生简章</a>
                <a href="/notice">成功案例</a>
                <a href="/team">师资团队</a>
                <a href="/picture">课堂实录</a>
                <a href="/schedule">课程安排</a>
                <a href="/address">联系我们</a>
            </div>
        </div>
    </div>
</div>