<div class="span3">
    <ul class="nav nav-tabs nav-stacked">
        <li <% if(index===0) { %> class="active" <% } %>><a href="/prospectus">课程介绍</a></li>
        <li <% if(index==1) { %> class="active" <% } %>><a href="/notice">成功案例</a></li>
        <li <% if(index==2) { %> class="active" <% } %>><a href="/picture">课堂实录</a></li>
        <li <% if(index==3) { %> class="active" <% } %>><a href="/team">师资团队</a></li>
        <li <% if(index==4) { %> class="active" <% } %>><a href="/schedule">课程安排</a></li>
        <li <% if(index==5) { %> class="active" <% } %>><a href="/address">联系我们</a></li>
    </ul>
</div>