<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>联系我们</title>
    <!--引用百度地图API-->
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        .contact{
            margin-top: 20px;
        }
        #content .contact p{
            text-indent: 0;
        }
    </style>
    <% include ./includes/external %>
</head>

<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
			<iframe src="/baidu.html" id="" width=652 height=552  frameborder= 0></iframe>
            <div class="contact">
                <p>地址：上海浦东新区塘桥路400弄2号楼902室</p>

                <p>周边交通：地铁4号线 地铁6号线   1011  浦卫专线  塘邵专线  624  沪南线  塘南专线  浦卫线  818  82 </p>

                <p> 联系人：陈老师</p>

                <p>联系电话：021-68900157</p>
            </div>
        </div>
    </div>
</div>
<script src="http://s22.cnzz.com/z_stat.php?id=1000212769&web_id=1000212769" language="JavaScript"></script>
</body>
<% include ./includes/footer%>
</html>