<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>联系我们</title>
    <!--引用百度地图API-->
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        .contact{
            margin-top: 20px;
        }
        #content .contact p{
            text-indent: 0;
        }
    </style>
    <% include ./includes/external %>
</head>

<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
		   <div class="contact">
                <p>上海西象教育科技公司致力于培养中小学生的学习能力和思维能力，并通过传播我们先进的教学思想，开发创新的教学系统，提供完善的教学服务，来帮助每位学生的日常学习和升学考，在办学5年以来秉承着“学生第一”的服务理念，培养了一批批优秀的学生，赢得了广大家长较好的口碑。从成立至今，公司相续和多家机构沟通合作，将优秀的教育理念和先进的教学模式引进来和推出去。目前公司有小班授课和1对1的教学模式，所授课程涵盖英语、数学、物理、化学、新概念英语、星级考、奥数等。我们的教师团队坚持以结果为导向，始终以学生成绩说话，所以90%的学生成绩都能提高。……欢迎您前来试听，来电咨询……期待您的加入</p>
            </div>
			<iframe src="/baidu.html" id="" width=652 height=552  frameborder= 0></iframe>
            <div class="contact">
                <p>地址：上海浦东新区塘桥路400弄2号楼9层</p>

                <p>周边交通：地铁4号线 地铁6号线   1011  浦卫专线  塘邵专线  624  沪南线  塘南专线  浦卫线  818  82 </p>

                <p>联系电话：021-68900157</p>
            </div>
        </div>
    </div>
</div>
<script src="http://s22.cnzz.com/z_stat.php?id=1000212769&web_id=1000212769" language="JavaScript"></script>
</body>
<% include ./includes/footer%>
</html>