<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>联系我们</title>
    <!--引用百度地图API-->
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        .contact{
            margin-top: 20px;
        }
        #content .contact p{
            text-indent: 0;
        }
    </style>
    <% include ./includes/external %>
</head>

<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
		   <div class="contact">
		        <h1 class="tc">关于我们</h1>             <p>上海西象教育科技有限公司，成立于2008年，是一家专业从事中小学学习能力辅导与培养的机构，在办学以来秉承着“学生第一”的服务理念，培养了一批批优秀的学生，赢得了广大家长良好的口碑。			从成立至今，公司相续和多家机构沟通合作，将优秀的教育理念和先进的教学模式引进来和推出去。目前已开设了“小学晚托班”、“一对一”、“分层小班制教学”、“小学至高中英语、数理化辅导班”、“小学新概念英语、星级考英语“、“奥数”、“网上家教”等课程，来帮助每位学生的日常学习和升学考。如今学生的教育越来越受到家长和老师的关注，许多学生都养成了补习的习惯，但是家长寻找合适的辅导机构却成了一个大问题。西象教育向您保证给您和您的孩子带来学习上的迅速进步。我们的目标就是打造一个让家长和学生值得信赖的学习中心，不仅让学生成绩得到提高，更会将科学的学习方法教授给学生。我们的教师团队坚持以结果为导向，始终以学生成绩说话，所以95%的学生成绩都能提高。欢迎您前来试听，来电咨询，期待您的加入！</p>
            </div>
			<iframe src="/baidu.html" id="" width=652 height=552  frameborder= 0></iframe>
            <div class="contact">
                <p>地址：上海浦东新区塘桥路400弄2号楼9层</p>

                <p>周边交通：地铁4号线 地铁6号线   1011  浦卫专线  塘邵专线  624  沪南线  塘南专线  浦卫线  818  82 </p>

                <p>联系电话：021-68900157</p>
            </div>
        </div>
    </div>
</div>
<script src="http://s22.cnzz.com/z_stat.php?id=1000212769&web_id=1000212769" language="JavaScript"></script>
</body>
<% include ./includes/footer%>
</html>