<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | 西象教育 </title>
    <% include ./includes/external %>
</head>
<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">

     
            <h3>2013下学期成绩进步榜</h3>
            <table class="table table-bordered">
            <tr>
                <td>姓名</td>
                <td>学校</td>
                <td>年级</td>
                <td>科目</td>
                <td>辅导前</td>
                <td>辅导后</td>
                <td>提高</td>
            </tr>
            <tr>
                <td>王睿轩</td>
                <td>明珠小学</td>
                <td>五年级</td>
                <td>英语</td>
                <td>84</td>
                <td>94</td>
                <td>10</td>
            </tr>
            <tr>
                <td>宣萱</td>
                <td>浦兴中学</td>
                <td>八年级</td>
                <td>英语</td>
                <td>84</td>
                <td>91</td>
                <td>7</td>
            </tr>
            <tr>
                <td>陶文蔚</td>
                <td>明珠小学</td>
                <td>五年级</td>
                <td>英语</td>
                <td>86</td>
                <td>93</td>
                <td>7</td>
            </tr>
            <tr>
                <td>苏远洋</td>
                <td>浦东南路小学</td>
                <td>四年级</td>
                <td>数学</td>
                <td>69.5</td>
                <td>77</td>
                <td>7.5</td>
            </tr>
            <tr>
                <td>王澳柯</td>
                <td>浦东南路小学</td>
                <td>二年级</td>
                <td>英语</td>
                <td>65</td>
                <td>84</td>
                <td>19</td>
            </tr>
            <tr>
                <td>何国栋</td>
                <td>浦东南路小学</td>
                <td>四年级</td>
                <td>数学</td>
                <td>68.5</td>
                <td>88.5</td>
                <td>20</td>
            </tr>
            <tr>
                <td>陈榆钦</td>
                <td>浦东南路小学</td>
                <td>四年级</td>
                <td>英语</td>
                <td>65.5</td>
                <td>80</td>
                <td>14.5</td>
            </tr>
            <tr>
                <td>肖钰晨</td>
                <td>塘桥中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>120</td>
                <td>132.5</td>
                <td>12.5</td>
            </tr>
            <tr>
                <td>虞悦</td>
                <td>卢湾中学</td>
                <td>七年级</td>
                <td>英语</td>
                <td>74</td>
                <td>82.5</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td>黄慧琳</td>
                <td>塘桥中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>100</td>
                <td>108</td>
                <td>8</td>
            </tr>
            <tr>
                <td>庞琳</td>
                <td>东昌南校</td>
                <td>高一</td>
                <td>数学</td>
                <td>76</td>
                <td>83</td>
                <td>7</td>
            </tr>
            <tr>
                <td>陈晓薇</td>
                <td>东昌东校</td>
                <td>九年级</td>
                <td>数学</td>
                <td>110</td>
                <td>130</td>
                <td>20</td>
            </tr>
            <tr>
                <td>金鑫</td>
                <td>东昌中学</td>
                <td>七年级</td>
                <td>数学</td>
                <td>73</td>
                <td>90</td>
                <td>17</td>
            </tr>
            <tr>
                <td>倪佳</td>
                <td>东昌南校</td>
                <td>七年级</td>
                <td>数学</td>
                <td>73</td>
                <td>81</td>
                <td>8</td>
            </tr>
            <tr>
                <td>沈俊翔</td>
                <td>塘桥中学</td>
                <td>七年级</td>
                <td>数学</td>
                <td>78</td>
                <td>85</td>
                <td>7</td>
            </tr>
            <tr>
                <td>李芯怡</td>
                <td>浦东实验</td>
                <td>高一</td>
                <td>数学</td>
                <td>36</td>
                <td>43</td>
                <td>7</td>
            </tr>
            <tr>
                <td>谢火生</td>
                <td>交大附中</td>
                <td>高三</td>
                <td>数学</td>
                <td>93</td>
                <td>100</td>
                <td>7</td>
            </tr>
            <tr>
                <td>沈一鸣</td>
                <td>三林中学</td>
                <td>高一</td>
                <td>数学</td>
                <td>45</td>
                <td>59</td>
                <td>14</td>
            </tr>
            <tr>
                <td>李静远</td>
                <td>洋泾东校</td>
                <td>九年级</td>
                <td>物理</td>
                <td>61</td>
                <td>73</td>
                <td>12</td>
            </tr>
            <tr>
                <td>黄厚钧</td>
                <td>建平西校</td>
                <td>八年级</td>
                <td>物理</td>
                <td>69</td>
                <td>89.5</td>
                <td>20.5</td>
            </tr>
            <tr>
                <td>王芯圆</td>
                <td>建平远翔中学</td>
                <td>七年级</td>
                <td>数学</td>
                <td>89</td>
                <td>100</td>
                <td>11</td>
            </tr>
            <tr>
                <td>王梦菲</td>
                <td>市八中学</td>
                <td>高二</td>
                <td>物理</td>
                <td>74</td>
                <td>81</td>
                <td>7</td>
            </tr>
            <tr>
                <td>马思艳</td>
                <td>市八中学</td>
                <td>高二</td>
                <td>物理</td>
                <td>74</td>
                <td>88</td>
                <td>14</td>
            </tr>
            <tr>
                <td>冯佳莹</td>
                <td>建平世纪中学</td>
                <td>高一</td>
                <td>数学</td>
                <td>54</td>
                <td>61</td>
                <td>7</td>
            </tr>
            <tr>
                <td>韩琦</td>
                <td>浦东南路小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>60</td>
                <td>86</td>
                <td>26</td>
            </tr>
            <tr>
                <td>严梓航</td>
                <td>浦东南路小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>84.5</td>
                <td>94.5</td>
                <td>10</td>
            </tr>
            <tr>
                <td>潘诗艺</td>
                <td>临沂二村小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>87.5</td>
                <td>95</td>
                <td>7.5</td>
            </tr>
            <tr>
                <td>徐慧玉</td>
                <td>东昌南校</td>
                <td>七年级</td>
                <td>数学</td>
                <td>66</td>
                <td>94</td>
                <td>28</td>
            </tr>
            </table>
        </div>
    </div>
</div>
<% include ./includes/footer%>
<script src="http://s22.cnzz.com/z_stat.php?id=1000212769&web_id=1000212769" language="JavaScript"></script>
</body>
</html>