<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | 陈老师工作室 </title>
    <% include ./includes/external %>
</head>
<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
        <h3>喜报</h3>
        <table class="table table-bordered">
              <tr>
                <td>姓名</td>
                <td>学校</td>
                <td>英语</td>
                <td>总分</td>
                <td>录取学校</td>
            </tr>
              <tr>
                <td>顾佳城</td>
                <td>进才实验小学</td>
                <td></td>
                <td></td>
                <td>上海张江集团中学</td>
            </tr>
            <tr>
                <td>陈懿雯</td>
                <td>上海市实验小学</td>
                <td></td>
                <td></td>
                <td>上海市实验中学初中部</td>
            </tr>
            <tr>
                <td>刘晓璇</td>
                <td>浦东南路小学</td>
                <td></td>
                <td></td>
                <td>进才北校</td>
            </tr>
             <tr>
                <td>郑艺</td>
                <td>新竹园中学</td>
                <td>137</td>
                <td>578</td>
                <td>上师大国际学校</td>
            </tr>
              <tr>
                <td>黄兆吉</td>
                <td>浦泾中学</td>
                <td>142.5</td>
                <td>570</td>
                <td>上南中学</td>
            </tr>
              <tr>
                <td>王梦菲</td>
                <td>大同中学</td>
                <td>135</td>
                <td>559.5</td>
                <td>市八中学</td>
            </tr>
              <tr>
                <td>徐晓路</td>
                <td>塘桥中学</td>
                <td>127</td>
                <td>556.5</td>
                <td>三林中学</td>
            </tr>
              <tr>
                <td>包林莹</td>
                <td>塘桥中学</td>
                <td>126</td>
                <td>556</td>
                <td>敬业中学</td>
            </tr>            
             <tr>
                <td>高丽婷</td>
                <td>浦泾中学</td>
                <td>136.5</td>
                <td>553.5</td>
                <td>三林中学</td>
            </tr>
             <tr>
                <td>朱颖</td>
                <td>浦泾中学</td>
                <td>124</td>
                <td>523.5</td>
                <td>东辉中学</td>
            </tr>
            </table>
            <h3>成绩进步榜</h3>
            <table class="table table-bordered">
            <tr>
                <td>姓名</td>
                <td>学校</td>
                <td>年级</td>
                <td>科目</td>
                <td>辅导前</td>
                <td>辅导后</td>
                <td>提高</td>
            </tr>
            <tr>
                <td>Candice</td>
                <td>浦泾中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>119</td>
                <td>136.5</td>
                <td>17.5</td>
            </tr>
            <tr>
                <td>Kevin</td>
                <td>上南</td>
                <td>九年级</td>
                <td>英语</td>
                <td>83</td>
                <td>100</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Cathy</td>
                <td>浦泾中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>129</td>
                <td>142.5</td>
                <td>13.5</td>
            </tr>
            <tr>
                <td>Jolin</td>
                <td>浦泾中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>112</td>
                <td>124</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Malisa</td>
                <td>大同中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>128</td>
                <td>135</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Carl</td>
                <td>杨思中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>116</td>
                <td>121</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Leo</td>
                <td>塘桥中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>125</td>
                <td>127</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Cathy Zheng</td>
                <td>新竹园中学</td>
                <td>九年级</td>
                <td>英语</td>
                <td>136</td>
                <td>137</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Andy</td>
                <td>北蔡中学</td>
                <td>八年级</td>
                <td>英语</td>
                <td>75</td>
                <td>85</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Shirley</td>
                <td>东昌东校</td>
                <td>八年级</td>
                <td>英语</td>
                <td>89</td>
                <td>97</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Daray</td>
                <td>浦泾中学</td>
                <td>八年级</td>
                <td>英语</td>
                <td>79</td>
                <td>87</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Amy</td>
                <td>洋泾中学</td>
                <td>八年级</td>
                <td>英语</td>
                <td>74</td>
                <td>82</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Emily</td>
                <td>浦泾中学</td>
                <td>八年级</td>
                <td>英语</td>
                <td>85</td>
                <td>92</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Maria</td>
                <td>浦泾中学</td>
                <td>八年级</td>
                <td>英语</td>
                <td>88</td>
                <td>94.5</td>
                <td>6.5</td>
            </tr>
            <tr>
                <td>Jack</td>
                <td>华洋外国语中学</td>
                <td>七年级</td>
                <td>英语</td>
                <td>74</td>
                <td>82</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Jay</td>
                <td>浦泾中学</td>
                <td>七年级</td>
                <td>英语</td>
                <td>58</td>
                <td>64</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Grace</td>
                <td>东昌东校</td>
                <td>七年级</td>
                <td>英语</td>
                <td>88</td>
                <td>92</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Sherry</td>
                <td>浦兴中学</td>
                <td>六年级</td>
                <td>数学</td>
                <td>86</td>
                <td>98</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Winnie</td>
                <td>浦东南路小学</td>
                <td>五年级</td>
                <td>数学</td>
                <td>70</td>
                <td>89</td>
                <td>19</td>
            </tr>
            <tr>
                <td>Jimmy</td>
                <td>浦东南路小学</td>
                <td>五年级</td>
                <td>英语</td>
                <td>77</td>
                <td>94</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Winnie</td>
                <td>浦东南路小学</td>
                <td>五年级</td>
                <td>英语</td>
                <td>91</td>
                <td>94.5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Danny</td>
                <td>浦东南路小学</td>
                <td>五年级</td>
                <td>英语</td>
                <td>91</td>
                <td>94</td>
                <td>2.5</td>
            </tr>
            <tr>
                <td>Lucy</td>
                <td>浦东南路小学</td>
                <td>五年级</td>
                <td>英语</td>
                <td>96</td>
                <td>98</td>
                <td>1.5</td>
            </tr>
            <tr>
                <td>Cinda</td>
                <td>浦东南路小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>50</td>
                <td>60</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Fiona</td>
                <td>上南村小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>76</td>
                <td>93</td>
                <td>7</td>
            </tr>
            <tr>
                <td>John</td>
                <td>明珠小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>80</td>
                <td>87</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Coco</td>
                <td>明珠小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>81</td>
                <td>87</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Dolly</td>
                <td>静安实验小学</td>
                <td>三年级</td>
                <td>英语</td>
                <td>89</td>
                <td>92</td>
                <td>3</td>
            </tr>
            </table>
        </div>
    </div>
</div>
<% include ./includes/footer%>
</body>
</html>