<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | 西象教育 </title>
    <% include ./includes/external %>
</head>
<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
            <h1 class="tc">课程介绍</h1>

            <h3>1、招生对象：</h3>

            <p>一年级至高中三年级</p>

            <h3>2、辅导科目：</h3>

            <p>英语，数学，物理，化学</p>
			
			 <h3>特色课程：</h3>

            <p>奥数，新概念英语，小学生竞赛，自然拼读，<a href="http://sh.58.com/fudao/8927913358858x.shtml" target="_blank">晚托班</a>，<a href="http://sh.58.com/fudao/18015389112454x.shtml" target="_blank">暑托班</a></p>
			
			<h3>在线学习辅导：</h3>
            <p><a href="http://seungnet.taobao.com/" target="_blank">西象教育在线学习辅导中心</a></p>
			
            <h3>3、培训方式：</h3>

            <p>
                2-8人小班分层授课，VIP一对一授课，对学校知识巩固提高，直击单元测试、期中、期末考试和中考。按照不同学生的特点进行个性化教学。
            </p>

            <h3>4.教学内容及目标：</h3>

            <p>
                （1）激发和培养学生的兴趣：以学校教材为基础，同步、综合、加深课程。因材施教，结合每一位学生的特点进行辅导，查漏补缺。在学生掌握课本所学知识基础上进一步深化、巩固、提高。确保学生对学校一周所学内容更透彻，掌握更牢固，以激发和培养学生兴趣，养成良好的学习习惯。
            </p>

            <p>
                （2）复习旧知，预习新知。针对学习重点和难点进行复习和巩固。启迪思维、一题多解，充分发挥学生的想象力，达到同步辅导的最佳效果。将所学知识系统化、条理化，帮助学生掌握正确的、高效的解题方法，解决各种疑难问题。
            </p>

            <p>
                （3）定期测试以检验学生阶段学习效果，分析得失，直接针对单元测试、期中期末考试和中考。
            </p>

            <h3>5、教学宗旨:</h3>

            <p>（1）轻松学习提高成绩。</p>

            <p>（2）对孩子负责，让家长放心。</p>

            <p>（3）减少家长负担。</p>

            <p>（4）培养孩子的兴趣，提高学习的积极性和自觉性，养好良好的学习习惯。</p>

            <h3>6.师资力量：</h3>

            <p> 特聘有爱心、耐心，经验丰富的教师任课，教学方法灵活，能因材施教并在教学实践中取得显著效果。</p>

            <h3>7.不定期对学生进行心理咨询。帮助家长排扰解难。</h3>

            <h3>8.上课地点：</h3>

            <p> 浦东新区塘桥路400弄2号楼9层</p>

            <h3>9.咨询电话：</h3>

            <p>400-689-0661  021-68900157 </p>
        </div>
    </div>
</div>
<% include ./includes/footer%>
<script src="http://s22.cnzz.com/z_stat.php?id=1000212769&web_id=1000212769" language="JavaScript"></script>
</body>
</html>