<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | 西象教育 </title>
    <% include ./includes/external %>
</head>
<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
            <h3>2014暑假课程内容介绍</h3>			
			<h5>授课形式：2-8人小班</h3>
            <table class="table table-bordered">
			<colgroup><col width="10%"><col width="30%"><col width="40%"></colgroup>
                <tr>
                    <td>科目</td>
                    <td>培训对象</td>
					<td>上课内容</td>

                </tr>
                <tr>
                    <td>英语</td>
                    <td  rowspan="2">（基础班）基础知识比较薄弱的学生，着重训练基础题型，帮助学生理清思路（提高班）
					想快速提高成绩、中等或中等偏上的学生，基础70%+加难加深拓展题30%</td>
					<td>细化语法知识，重点训练小升初英语的标注化考试题型，为小升初打下坚实的基础，全面拓展英语技能，快速提高英语水平</td>
                </tr>
                <tr>
                    <td>数学</td>
					<td>针对学生进行有效的思维、逻辑分析能力训练，扎实掌握常考的重要知识点，能够举一反三，发现考试中的陷阱并能正确的解决和攻克。</td>
                </tr>
                <tr>
                    <td>新概念</td>
                    <td>1—5年级需要增强语法，提高词汇量的学生</td>                    <td>《新概念英语》是一部畅销四十六年风靡全球的经典英语教程，我们将借助经典教材，在全面提高学习者英语听、说、读、写、译综合素质，其独有的应用能力训练，快速提高英语实际应用能力。</td>
                </tr>
                <tr>
                    <td>奥数</td>
                    <td>准备参加春蕾杯、希望杯竞赛，考取证书并为小升初做准备的学生</td>                    <td>奥数课程以讲练结合的形式进行，重视反馈、重视复习、重视作业，并辅以阶段性的测评。让学员有扎实的基础去面对多变的问题，真正提高学员的数学运用能力和思维能力。</td>
                </tr>
                <tr>
                    <td>自然拼读</td>
                    <td>帮助记忆单词，背单词困难，对英语没有兴趣的学生</td>
                    <td>打破中式口语桎梏，学习标准发音，通过丰富的上课形式，如：故事教学方法等，重视“自我表露”，从而发展学习兴趣与潜能。</td>
                </tr>
                <tr>
                    <td>数学/英语vip一对一</td>
                    <td>学习习惯不好、学习方法欠缺而落后的学生或者在学校教育无法满足其学习目的，需要进一步提高的学生</td>
                    <td></td>
                </tr>
            </table>
			<table class="table table-bordered">
			<colgroup><col width="30%"><col width="50%"><col width="20%"></colgroup>
			<tr>
			 <td>课程</td>
             <td>上课内容</td>
			 </tr>			 
			 <tr>
			 <td>初一初二教材同步班</td>
             <td>以中考为目标，超前消化新课程，全面梳理归纳各科必考点，易错点，拿分点。数学、英语、物理、化学以专题形式同步强化</td>
			 </tr>
			 <tr>
			 <td>初三冲刺班</td>             <td>根据上海中考政策、结合上海市中考信息、考纲以及重点中学的中考、直升考特点，对各知识点进行拓展研究，以专题训练为主要手段，帮助学生提高应试能力和解题能力。</td>
			 </tr>
			 	 <td>预初班</td>             <td>尽快熟悉初中学科的变化，掌握高效的预复习，归纳总结的学习能力，适应中学学习要求，每周归纳总结同步知识重点，难点，易错点。</td>
			 </tr>
			  </tr>
			 	 <td>高一、高二教材同步班</td>             
				 <td>通过我们对上海高考的深入研究，培养学生快速准确的解题能力，为应对将来面临的高考冲刺做准备。</td>
			 </tr>
			  </tr>
			 	 <td>高三高考强化班</td>             
				 <td>针对高考第二轮专项复习，基本概念和理论的题型与解题技巧归纳，高考题型专项训练。</td>
			 </tr>
			 </table>
			 <h3>2014暑假课程安排</h3>
			 <table class="table table-bordered">
			 <tr>
                    <td>期数</td>
                    <td>课程</td>
					<td>年级/班次</td>
					<td>次数</td>
					<td>时间</td>
					<td>具体时间</td>
					<td>任课老师</td>
					<td>费用</td>
                </tr>
				 <tr>
				 <td>暑期第一期平时班(6.30-8.1)</td>
                    <td>英语</td>
					<td>两年级基础班</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>9：30—11：30</td>
					<td>李素芬</td>
					<td>1500元</td>
				 </tr>
				  <tr>
					<td>三年级Phonic</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>8：30-10：30</td>
					<td>Crystal</td>
					<td>1800元</td>
				 </tr>
				   <tr>
					<td>三年级提高班</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>10：30—12：30</td>
					<td>石瑛</td>
					<td>1500元</td>
				 </tr>
				    <tr>
					<td>四年级新概念1</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>8：30-10：30</td>
					<td>奚李婷</td>
					<td>1500元</td>
				 </tr>
				    <tr>
					<td>四年级新概念1</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>10：30—12：30</td>
					<td>奚李婷</td>
					<td>1500元</td>
				 </tr>
				   <tr>
					<td>四年级新概念2</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>15：00—17：00</td>
					<td>Crystal</td>
					<td>1500元</td>
				 </tr>
				 <tr>
					<td>五年级新概念2</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>13：00—15：00</td>
					<td>Crystal</td>
					<td>1500元</td>
				 </tr>
				  <tr>
					<td>六年级新概念2</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>10：30—12：30</td>
					<td>Crystal</td>
					<td>1500元</td>
				 </tr>
				 <tr>
				    <td>数学</td>
					<td>四年级基础班</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>13：00—15：00</td>
					<td>方伟</td>
					<td>1500元</td>
				 </tr>
				 	 <tr>
				    <td>数学</td>
					<td>五年级奥数班</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>15：00—17：00</td>
					<td>吴志勇</td>
					<td>1800元</td>
				 </tr>
				  	 <tr>
					<td>六年级基础班</td>
					<td>15次</td>
					<td>每周一、三、五</td>
					<td>13：00—15：00</td>
					<td>石瑛</td>
					<td>1500元</td>
				 </tr>
				 
			  </table>
        </div>
    </div>
</div>
<% include ./includes/footer%>
<script src="http://s22.cnzz.com/z_stat.php?id=1000212769&web_id=1000212769" language="JavaScript"></script>
</body>
</html>