<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | 陈老师工作室 </title>
    <% include ./includes/external %>
</head>
<body>
<% include ./includes/header %>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
            <h3>师资团队</h3>
            <div class="teacher">
                <p>刘老师</p>
                <p>有着五年的中小学教育经验，认真负责又不失亲和力，生动活泼而有耐心，寓教于乐。认真严谨的同时活泼有趣，有着扎实的功底与耐心亲切的态度。熟悉上海中高考制度，并且能在授课过程中将知识点与学校考试有效的结合。</p>
            </div>
            <div class="teacher">
                <p>王老师</p>
                <p>他常说，要想把数学学好，兴趣是最好的老师。首先就是改变学生“怕数学”的思想，让学生对数学学习有信心，喜欢上数学。对小奥知识有透彻的理解，对学生心理有良好的把握。课堂教学方式随学生特点灵活多变，课堂要求严格，气氛活跃，针对每个学生特点制定教学方案，在课堂中重点培养学生学习方法及思维模式。他辅导的学生在奥数竞赛和小升初考试方面收获累累，得到学生和家长的认可。他坚信----教师是一种口碑和舆论反射的产物，舆论辐射的广度在于是否每一滴汗水都播种在学生心里。</p>
            </div>
            <div class="teacher">
                <p>吴老师</p>
                <p>负责小初高中数学的教学事务，华中科技大学毕业，大学期间就经常从事教育行业的工作，工作业绩特出，得到学生和家长的一致好评。多次获得学校奖学金，国家励志奖学金。多年的家教经验让吴老师总结出一套独特而行之有效的教学方法，上课气氛活跃，能在轻松愉悦的气氛下，让学生学到知识。吴老师热情开朗，认真负责，善于与学生交流</p>
            </div>	
            <div class="teacher">
                <p>奚老师</p>
                <p>上海师范大学，小学教育专业。现教授小学英语。小班带班经验丰富，并从中总结了一套适合于小学生的学习方法。性格开朗，深知老师责任感，善于和孩子交流，非常有耐心。能够将知识趣味化，追求在融洽相处的氛围中教授于学生知识，并培养学生的学习兴趣。我一直都坚信，“没有教不会的学生，只有不会教的老师。”</p>
            </div>	
        </div>
    </div>
</div>
<% include ./includes/footer%>
</body>
</html>